@import 'tailwindcss';
@import 'tailwindcss/utilities';

@theme {
  --font-sans: Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv11';
}

/* Hide Firebase emulator warning banner */
.firebase-emulator-warning {
  display: none !important;
}
